pip~=24.0
wheel~=0.42.0
utils~=1.0.2
setuptools~=69.0.3
docutils~=0.20.1
selenium~=4.31.0
requests~=2.31.0
data~=0.4
beautifulsoup4~=4.12.2
pytest~=7.4.3
pytest-bdd~=8.0.0
pytest-xdist~=3.6.1
pytest-html~=4.1.1
pytest-sugar~=1.0.0
pages~=0.3
mailslurp-client~=15.17.17
by~=0.0.4
Faker~=25.9.2
browserstack_sdk~=1.26.4
browserstack_local~=1.2.7
random_address==1.1.1
Appium-Python-Client~=4.0.0
openpyxl==3.1.4
pandas==2.2.2
pytest-repeat~=0.9.3
pytest-rerunfailures~=15.0
pyperclip~=1.9.0
